<h1>Welcome</h1>

<p>Hotel "Moscow" is situated in the historical center of Saint-Petersburg, near Nevsky Prospekt, on the Neva embankment.
  Metro station is in the hotel bulding. In 20-25 minutes you will be able to reach major historical attractions:
  Hermitage, Admiralty, Russian museum. The rooms overlooking the architectural ensemble of Alexander Nevsky Lavra
  and the Neva River. During the summer white nights you can observe retraction of the Alexander Nevsky bridge.</p>

<%= render 'room_images' %>