<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= image_tag room.interior.variant(resize_to_limit: [150, nil]) %>
      <%= room.room_name %>
      <%= room.capacity %>
      <%= room.price %>
    </li>
  <% end %>
</ul>