<header>
  <div class="container">
    <h1 class="logo">LOGO</h1>

    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Reviews", '/reviews/index_with_create' %></li>
        <li><%= link_to "Rooms", rooms_path %></li>
      </ul>
    </nav>
  </div>
</header>