<header>
  <div class="container">
    <h1 class="logo">LOGO</h1>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Book a room</a></li>
      </ul>
    </nav>
  </div>
</header>